<!doctype html>
<html>
 <head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <title>Добавление региона</title>
 </head>
 <body>

 <form method="post" action="/v1/region/add">
<fieldset>
 <legend>Добавление региона</legend>
 <label>Номер региона<input type="number" name = "id" required></label>
 <label>Название региона<input type="text"  name = "name" required></label>
</fieldset>
     <button type="submit">Отправить</button>
 </form>

 {% if res %}
 <p> {{ res }}</p>
 {% endif %}


 </body>
</html>