<!doctype html>
<html>
 <head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <title>Добавление региона</title>
 </head>
 <body>

 <form method="post" action="/v1/tax-param/add">
<fieldset>
 <legend>Добавление объекта налогообложения</legend>
 <label>Номер объекта<input type="number" name = "id" required></label>
 <label>Номер региона<input type="number" name = "city_id" required></label>
 <label>С какого количества ЛС действует объект налогообложения<input type="number"  name = "from_hp_car" required></label>
 <label>До какого количества лошадиных сил действует объект налогообложения<input type="number" name = "to_hp_car" required></label>
 <label>C какого года производства автомобиля действует объект налогообложения<input type="number" name = "from_production_year_car" required></label>
 <label>до какого года производства автомобиля действует объект налогообложения<input type="number" name = "to_production_year_car" required></label>
 <label>Налоговая ставка<input type="number" name = "rate" required></label>

</fieldset>
     <button type="submit">Отправить</button>
 </form>


 </body>
</html>